USE [master]
GO
/****** Object:  Database [EfTask]    Script Date: 2013-08-27 13:45:27 ******/
CREATE DATABASE [EfTask]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EfTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EfTask]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2013-08-27 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Parent_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2013-08-27 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Goods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2013-08-27 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Good] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Structure]    Script Date: 2013-08-27 13:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Structure](
	[Good] [uniqueidentifier] NOT NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Structure] PRIMARY KEY CLUSTERED 
(
	[Good] ASC,
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Parent_Id]    Script Date: 2013-08-27 13:45:28 ******/
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[Categories]
(
	[Parent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Good]    Script Date: 2013-08-27 13:45:28 ******/
CREATE NONCLUSTERED INDEX [IX_Good] ON [dbo].[Payments]
(
	[Good] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category]    Script Date: 2013-08-27 13:45:28 ******/
CREATE NONCLUSTERED INDEX [IX_Category] ON [dbo].[Structure]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Good]    Script Date: 2013-08-27 13:45:28 ******/
CREATE NONCLUSTERED INDEX [IX_Good] ON [dbo].[Structure]
(
	[Good] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goods] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_Parent_Id] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_Parent_Id]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Goods_Good] FOREIGN KEY([Good])
REFERENCES [dbo].[Goods] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Goods_Good]
GO
ALTER TABLE [dbo].[Structure]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Structure_dbo.Categories_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Structure] CHECK CONSTRAINT [FK_dbo.Structure_dbo.Categories_Category]
GO
ALTER TABLE [dbo].[Structure]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Structure_dbo.Goods_Good] FOREIGN KEY([Good])
REFERENCES [dbo].[Goods] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Structure] CHECK CONSTRAINT [FK_dbo.Structure_dbo.Goods_Good]
GO
USE [master]
GO
